<h1 class="mb-5">Edit user</h1>

<input [(ngModel)]="user.id" class="form-control form-control mb-2" type="text" placeholder="id">
<input [(ngModel)]="user.firstName" class="form-control form-control mb-2" type="text" placeholder="firstName">
<input [(ngModel)]="user.lastName" class="form-control form-control mb-2" type="text" placeholder="lastName">
<input [(ngModel)]="user.age" class="form-control form-control mb-2" type="text" placeholder="age">
<input [(ngModel)]="user.gender" class="form-control form-control mb-2" type="text" placeholder="gender">
<input [(ngModel)]="user.email" class="form-control form-control mb-2" type="text" placeholder="email">
<input [(ngModel)]="user.phone" class="form-control form-control mb-2" type="text" placeholder="phone">
<input [(ngModel)]="user.username" class="form-control form-control mb-2" type="text" placeholder="username">